# Interface
streamlit

# Ingestion
pypdf
markdown
langchain-text-splitters
tiktoken

# Embeddings
sentence-transformers
chromadb

# Generations
gpt4all
google-genai

# Utilities
python-dotenv
torch
torchvision
