# Core
--extra-index-url https://download.pytorch.org/whl/cpu
torch
torchvision

# Interface
streamlit

# Ingestion
pypdf
markdown
langchain-text-splitters
tiktoken

# Embeddings
sentence-transformers
chromadb

# Generations
llama-cpp-python
google-genai

# Utilities
python-dotenv
